.modal-backdrop{
    z-index: 999 !important;
}
.row{
    margin-left: 0px; margin-right: 0px;
}.modal-footer {
    justify-content: flex-start;
}.login-page, .register-page{
    background-image: url('/imagens/textura-bg.png');
}.vs__dropdown-toggle{
    border: none !important;
}.table-striped .form-check-input{
    margin-left: 0 !important;
}